.selectable {
  cursor: hand;
  cursor: pointer;
  -webkit-animation: selectable 1700ms ease-in-out infinite;
}
.selectable:hover {
  outline: 1px solid white;
  box-shadow: none;
}
@-webkit-keyframes selectable {
  0%, 100% {
    box-shadow: 0px 0px 12px 4px rgb(0, 225, 225);
  }

  50% {
    box-shadow: 0px 0px 1px 1px rgb(0, 100, 100);
  }
}

* {
  font-family: Arial;
}

a {
  color: #5555CC
}

div  {
  padding: 0px;
  margin: 0px;
}

body {
  background: #111;
  color: white;
}

#waiting {
  float: left;
  width: 600px;
  height: 600px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #EEE;
}

#table_area {
  position: relative;
  min-width: 1250px;
  width: 1250px;
  min-height: 900px;
  height: 900px;
}
body.insurgent #table_area {
  background: top left no-repeat url("../images/background_insurgent.jpg");
  background-size: 100%;
}
body.state #table_area {
  background: top left no-repeat url("../images/background_state.jpg");
  background-size: 100%;
}

#dashboard {
  position: absolute;
  z-index: 10002;
  left: 0px;
  top: 45px;
  width: 369px;
  height: 108px;
}
.dashboard_section {
  height: 100%;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
img.vertical-aligner {
  vertical-align: middle;
  height: 100%;
  width: 1px;
}
.chat_message span {
  padding-right: 15px;
  color: red;
}
.chat_message.insurgent span {
  color: rgb(253, 163, 68);
}
.chat_message.state span {
  color: rgb(89, 201, 255);
}

.leftslot0 {
  position: absolute;
  top: 45px;
  left: 25px;
  width: 373px;
  height: 109px;
}
.leftslot1 {
  position: absolute;
  top: 181px;
  left: 25px;
  width: 269px;
  height: 70px;
}

.leftslot2 {
  position: absolute;
  top: 277px;
  left: 25px;
  height: 71px;
  width: 260px;
}

body.insurgent #logo {
  background: top left no-repeat url("../images/logo_insurgent.png");
}
body.state #logo {
  background: top 5px left 1px no-repeat url("../images/logo_state.png");
}

#killed_insurgents {
  background: center left 10px no-repeat url("../images/insurgents_killed.png");
}
#killed_insurgents #count {
  position: absolute;
  top: 41px;
  left: 150px;
  height: 10px;
  width: 30px;
  font-size: 20px;
}

#reserve_insurgents {
  background: center left 10px no-repeat url("../images/insurgents_available.png");
}
#reserve_insurgents #count {
  position: absolute;
  top: 42px;
  left: 210px;
  height: 10px;
  width: 30px;
  font-size: 20px;
}



#left_area {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 288px;
  height: 882px;
}

.status_count {
  font-size: 12px;
}

#side_area {
  position: relative;
  left: 852px;
  top: 0px;
  height: 800px;
  width: 399px;
}

.side_selector {
  display: none;
  position: relative;
  height: 545px;
  top: 40px;
}

#chat {
  position: absolute;
  top: 465px;
  left: 110px;
  width: 259px;
  height: 433px;
}
#chat_messages {
  height: 137px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3px 2px;
  border-bottom: 1px solid white;
  font-size: 12px;
  font-weight: initial;
  color: white;
}
#chat_input {
  color: white;
  background: rgba(0, 0, 0, 0);
  height: 25px;
  width: 100%;
  outline: none;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}
::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  color: #999;
}
::-moz-placeholder {
  font-size: 14px;
  color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 14px;
  color: #999;
}

#opponent_status {
  background-color: #005;
}

#settings_overlay {
  position: absolute;
  right: 1px;
  top: 5px;
  width: 27px;
  border: 2px solid #333333;
	background-color: rgb(51, 51, 51);
	background-color: rgba(151, 151, 151, 0.5);
  border-radius: 10px;
}

.setting_button {
  padding: 1px;
  position: relative;
  height: 25px;
  width: 25px;
  background-size: 25px 25px;
  z-index: 10000;
}

.setting_button:hover {
  padding: 0px;
  border: 1px solid #00FFFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

.volume_control_on {
  background: center center no-repeat url('../images/sound_on.svg');
  background-size: 25px 25px;
}
.volume_control_off {
  background: center center no-repeat url('../images/sound_off.svg');
  background-size: 25px 25px;
}
#history_control {
  background: center center no-repeat url('../images/history_log.svg');
  background-size: 25px 25px;
}

.close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 2px 3px;
  /* border: solid #d3d3d3; */
  border: solid #EEE;
  border-radius: 4px;
  width: 20px;
  height: 19px;
  background: #EEE top left no-repeat url('../images/close.svg');
  background-size: 100%;
}

.hr {
  border-bottom: 3px solid #FFF;
  width: 100%;
  margin: 3px 0px;
}

#settings {
  background: center center no-repeat url('../images/settings.gif');
  background-size: 25px 25px;
}

.dialog_content_wrapper {
  position: relative;
  width: 100%;
}
.dialog_content {
  position: relative;
}
#forfeit_content {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  width: 100%;
}
.dialog .title {
  margin-left: 40px;
  font-size: 34px;
  font-family: Impact, Arial;
  text-shadow: 3px 3px 8px #000, -3px -3px 8px #000;
}
.dialog {
  position: absolute;
  visibility: hidden;
  z-index: 20000;
  left: 292px; /* playing_area/2 - width/2 - padding-left/2 */
  top: 56px; /* board height/2 - height/2 - padding-top/2*/
  /*
   * image: 573x476
   * content area: 297x343
   * area for side padding: 230px;
   * area for top/bottom padding: 253;
   */
  padding-top: 78px;
  padding-bottom: 73px;
  padding-left: 115px;
  padding-right: 145px;
  width: 313px;
  min-width: 313px;
  height: 325px;
  box-shadow: 3px 3px 9px #000, -3px -3px 9px #000;
  background: top left no-repeat url('../images/settings_background.png');
  background-size: 100%;
}
.dialog:focus {
  outline: none;
}
.dialog *:focus {
  outline: none;
}

ul li.separator {
  min-height:30px;
  cursor: auto !important;
}
.dialog p {
  margin-left: 10px;
}
.dialog ul {
  list-style-type: none;
}
.dialog li,.close_button {
  cursor: hand;
  cursor: pointer;
}
.dialog li,a {
  color: #FFF;
  font-size: 22px;
  text-shadow: 3px 3px 8px #000, -3px -3px 8px #000;
}
.dialog .disabled {
  cursor: auto !important;
  color: #777777;
}
.dialog a {
  text-decoration: none;
}

#message {
  width: 200px;
  left: 290px;
  padding: 4px 6px;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}

#selection_layer {
  position: absolute;
  z-index: 1000;
}

#space0-0-display {
  position: absolute;
  left: 50px;
  top: 200px;
  outline: 3px solid white;
  width: 50px;
  height: 50px;
}

.board {
  z-index: 100;
}
#notification {
  position: absolute;
  left: 323px;
  width: 596px;
  text-align: center;
  font-size: 18px;
  top: 625px;
}
body.insurgent #notification {
  color: rgb(65, 186, 254);
}
body.state #notification {
  color: rgb(252, 128, 52);
}
#selection_wrapper {
  position: absolute !important;
  left: 323px;
  top: 20px;
  width: 596px;
  height: 596px;
}
.board-position {
  position: absolute !important;
  left: 323px;
  top: 20px;
  width: 596px;
  height: 596px;
  padding: 4px;
}

#marker0-0 {
  left: 248px;
  top: 21px;
}
#marker0-1 {
  left: 396px;
  top: 32px;
}
#marker0-2 {
  left: 518px;
  top: 115px;
}
#marker0-3 {
  left: 583px;
  top: 248px;
}
#marker0-4 {
  left: 572px;
  top: 396px;
}
#marker0-5 {
  left: 489px;
  top: 518px;
}
#marker0-6 {
  left: 356px;
  top: 583px;
}
#marker0-7 {
  left: 208px;
  top: 572px;
}
#marker0-8 {
  left: 86px;
  top: 489px;
}
#marker0-9 {
  left: 21px;
  top: 356px;
}
#marker0-10 {
  left: 32px;
  top: 208px;
}
#marker0-11 {
  left: 115px;
  top: 86px;
}
#marker1-0 {
  left: 320px;
  top: 81px;
}
#marker1-1 {
  left: 428px;
  top: 120px;
}
#marker1-2 {
  left: 502px;
  top: 207px;
}
#marker1-3 {
  left: 523px;
  top: 320px;
}
#marker1-4 {
  left: 484px;
  top: 428px;
}
#marker1-5 {
  left: 397px;
  top: 502px;
}
#marker1-6 {
  left: 284px;
  top: 523px;
}
#marker1-7 {
  left: 176px;
  top: 484px;
}
#marker1-8 {
  left: 102px;
  top: 397px;
}
#marker1-9 {
  left: 81px;
  top: 284px;
}
#marker1-10 {
  left: 120px;
  top: 176px;
}
#marker1-11 {
  left: 207px;
  top: 102px;
}
#marker2-0 {
  left: 362px;
  top: 156px;
}
#marker2-1 {
  left: 427px;
  top: 206px;
}
#marker2-2 {
  left: 458px;
  top: 281px;
}
#marker2-3 {
  left: 448px;
  top: 362px;
}
#marker2-4 {
  left: 398px;
  top: 427px;
}
#marker2-5 {
  left: 323px;
  top: 458px;
}
#marker2-6 {
  left: 242px;
  top: 448px;
}
#marker2-7 {
  left: 177px;
  top: 398px;
}
#marker2-8 {
  left: 146px;
  top: 323px;
}
#marker2-9 {
  left: 156px;
  top: 242px;
}
#marker2-10 {
  left: 206px;
  top: 177px;
}
#marker2-11 {
  left: 281px;
  top: 146px;
}
#marker3-0 {
  left: 358px;
  top: 229px;
}
#marker3-1 {
  left: 387px;
  top: 267px;
}
#marker3-2 {
  left: 393px;
  top: 314px;
}
#marker3-3 {
  left: 375px;
  top: 358px;
}
#marker3-4 {
  left: 337px;
  top: 387px;
}
#marker3-5 {
  left: 290px;
  top: 393px;
}
#marker3-6 {
  left: 246px;
  top: 375px;
}
#marker3-7 {
  left: 217px;
  top: 337px;
}
#marker3-8 {
  left: 211px;
  top: 290px;
}
#marker3-9 {
  left: 229px;
  top: 246px;
}
#marker3-10 {
  left: 267px;
  top: 217px;
}
#marker3-11 {
  left: 314px;
  top: 211px;
}
#marker4-0 {
  position: absolute;
  left: 277px;
  top: 288px;
  width: 52px;
  height: 34px;
}

.marker0 {
  position: absolute;
  width: 106px;
  height: 42px;
}
.marker1 {
  position: absolute;
  width: 74px;
  height: 40px;
}
.marker2 {
  position: absolute;
  width: 40px;
  height: 50px;
}
.marker3 {
  position: absolute;
  width: 22px;
  height: 30px;
}

img.piece {
  width: 15px;
  height: 15px;
}
.marker0 img.piece {
  width: 25px;
  height: 25px;
}
.marker1 img.piece {
  width: 23px;
  height: 23px;
}
.marker2 img.piece {
  width: 20px;
  height: 20px;
}
.marker3 img.piece {
  width: 17px;
  height: 17px;
}

.board .content {
  text-align: center;
}

.rotate1 {
  -webkit-transform: rotate(0.5235987755982988rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(0.5235987755982988rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(0.5235987755982988rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(0.5235987755982988rad);
  -o-transform-origin: top left;
  transform: rotate(0.5235987755982988rad);
  transform-origin: top left;
}
.rotate2 {
  -webkit-transform: rotate(1.0471975511965976rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(1.0471975511965976rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(1.0471975511965976rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(1.0471975511965976rad);
  -o-transform-origin: top left;
  transform: rotate(1.0471975511965976rad);
  transform-origin: top left;
}
.rotate3 {
  -webkit-transform: rotate(1.5707963267948966rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(1.5707963267948966rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(1.5707963267948966rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(1.5707963267948966rad);
  -o-transform-origin: top left;
  transform: rotate(1.5707963267948966rad);
  transform-origin: top left;
}
.rotate4 {
  -webkit-transform: rotate(2.0943951023931953rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(2.0943951023931953rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(2.0943951023931953rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(2.0943951023931953rad);
  -o-transform-origin: top left;
  transform: rotate(2.0943951023931953rad);
  transform-origin: top left;
}
.rotate5 {
  -webkit-transform: rotate(2.617993877991494rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(2.617993877991494rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(2.617993877991494rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(2.617993877991494rad);
  -o-transform-origin: top left;
  transform: rotate(2.617993877991494rad);
  transform-origin: top left;
}
.rotate6 {
  -webkit-transform: rotate(3.141592653589793rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(3.141592653589793rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(3.141592653589793rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(3.141592653589793rad);
  -o-transform-origin: top left;
  transform: rotate(3.141592653589793rad);
  transform-origin: top left;
}
.rotate7 {
  -webkit-transform: rotate(3.665191429188092rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(3.665191429188092rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(3.665191429188092rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(3.665191429188092rad);
  -o-transform-origin: top left;
  transform: rotate(3.665191429188092rad);
  transform-origin: top left;
}
.rotate8 {
  -webkit-transform: rotate(4.1887902047863905rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(4.1887902047863905rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(4.1887902047863905rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(4.1887902047863905rad);
  -o-transform-origin: top left;
  transform: rotate(4.1887902047863905rad);
  transform-origin: top left;
}
.rotate9 {
  -webkit-transform: rotate(4.71238898038469rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(4.71238898038469rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(4.71238898038469rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(4.71238898038469rad);
  -o-transform-origin: top left;
  transform: rotate(4.71238898038469rad);
  transform-origin: top left;
}
.rotate10 {
  -webkit-transform: rotate(5.235987755982988rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(5.235987755982988rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(5.235987755982988rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(5.235987755982988rad);
  -o-transform-origin: top left;
  transform: rotate(5.235987755982988rad);
  transform-origin: top left;
}
.rotate11 {
  -webkit-transform: rotate(5.759586531581287rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(5.759586531581287rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(5.759586531581287rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(5.759586531581287rad);
  -o-transform-origin: top left;
  transform: rotate(5.759586531581287rad);
  transform-origin: top left;
}
.rotate0-5 {
  -webkit-transform: rotate(0.2617993877991494rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(0.2617993877991494rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(0.2617993877991494rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(0.2617993877991494rad);
  -o-transform-origin: top left;
  transform: rotate(0.2617993877991494rad);
  transform-origin: top left;
}
.rotate1-5 {
  -webkit-transform: rotate(0.7853981633974483rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(0.7853981633974483rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(0.7853981633974483rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(0.7853981633974483rad);
  -o-transform-origin: top left;
  transform: rotate(0.7853981633974483rad);
  transform-origin: top left;
}
.rotate2-5 {
  -webkit-transform: rotate(1.308996938995747rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(1.308996938995747rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(1.308996938995747rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(1.308996938995747rad);
  -o-transform-origin: top left;
  transform: rotate(1.308996938995747rad);
  transform-origin: top left;
}
.rotate3-5 {
  -webkit-transform: rotate(1.832595714594046rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(1.832595714594046rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(1.832595714594046rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(1.832595714594046rad);
  -o-transform-origin: top left;
  transform: rotate(1.832595714594046rad);
  transform-origin: top left;
}
.rotate4-5 {
  -webkit-transform: rotate(2.356194490192345rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(2.356194490192345rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(2.356194490192345rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(2.356194490192345rad);
  -o-transform-origin: top left;
  transform: rotate(2.356194490192345rad);
  transform-origin: top left;
}
.rotate5-5 {
  -webkit-transform: rotate(2.8797932657906435rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(2.8797932657906435rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(2.8797932657906435rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(2.8797932657906435rad);
  -o-transform-origin: top left;
  transform: rotate(2.8797932657906435rad);
  transform-origin: top left;
}
.rotate6-5 {
  -webkit-transform: rotate(3.4033920413889427rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(3.4033920413889427rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(3.4033920413889427rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(3.4033920413889427rad);
  -o-transform-origin: top left;
  transform: rotate(3.4033920413889427rad);
  transform-origin: top left;
}
.rotate7-5 {
  -webkit-transform: rotate(3.9269908169872414rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(3.9269908169872414rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(3.9269908169872414rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(3.9269908169872414rad);
  -o-transform-origin: top left;
  transform: rotate(3.9269908169872414rad);
  transform-origin: top left;
}
.rotate8-5 {
  -webkit-transform: rotate(4.45058959258554rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(4.45058959258554rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(4.45058959258554rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(4.45058959258554rad);
  -o-transform-origin: top left;
  transform: rotate(4.45058959258554rad);
  transform-origin: top left;
}
.rotate9-5 {
  -webkit-transform: rotate(4.974188368183839rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(4.974188368183839rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(4.974188368183839rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(4.974188368183839rad);
  -o-transform-origin: top left;
  transform: rotate(4.974188368183839rad);
  transform-origin: top left;
}
.rotate10-5 {
  -webkit-transform: rotate(5.497787143782137rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(5.497787143782137rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(5.497787143782137rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(5.497787143782137rad);
  -o-transform-origin: top left;
  transform: rotate(5.497787143782137rad);
  transform-origin: top left;
}
.rotate11-5 {
  -webkit-transform: rotate(6.021385919380436rad);
  -webkit-transform-origin: top left;
  -moz-transform: rotate(6.021385919380436rad);
  -moz-transform-origin: top left;
  -ms-transform: rotate(6.021385919380436rad);
  -ms-transform-origin: top left;
  -o-transform: rotate(6.021385919380436rad);
  -o-transform-origin: top left;
  transform: rotate(6.021385919380436rad);
  transform-origin: top left;
}

.board_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.selected {
  -webkit-animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
     -moz-animation: myanim 1s ease-in-out infinite; /* FF5+ */
       -o-animation: myanim 1s ease-in-out infinite; /* Opera 12+ */
          animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
}

@-webkit-keyframes myanim {
  0%, 100% { -webkit-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -webkit-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-moz-keyframes myanim {
  0%, 100% { -moz-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -moz-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-o-keyframes myanim {
  0%, 100% { -o-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -o-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@keyframes myanim {
  0%, 100% { transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}

#history {
  visibility: hidden;
  position: absolute;
  top: 464px;
  left: 25px;
  width: 261px;
  height: 434px;
  font-size: 14px;
  overflow: scroll;
}
.history_entry .placement {
  color: green;
}
.history_entry .move {
  color: cyan;
}
.history_entry .kill {
  color: #FF2200;
}
.history_entry .grow {
  color: #FF2200;
}
.history_entry .turn {
  color: #FF2200;
}
.history_entry .end_turn {
  color: white;
}


#actions {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 288px;
}
.action {
  display: none;
/*
  float: left;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  color: rgb(163, 241, 251);
  font-size: 24px;
*/
}
.action:hover {
  color: rgb(63, 141, 251);
  cursor: hand;
  cursor: pointer;
}
.action.disabled {
  color: grey;
}
.action.disabled:hover {
  cursor: auto !important;
}

#actions #grow, #kill {
  position: absolute;
  top: 135px;
  left: 60px;
  height: 70px;
  width: 264px;
}
#actions .action_img {
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#grow .action_img {
  height: 20px;
  width: 107px;
  background: top left no-repeat url('../images/grow.png');
}
#grow:hover .action_img {
  background: top left no-repeat url('../images/grow-hover.png');
}
#grow.disabled .action_img {
  background: top left no-repeat url('../images/grow-disabled.png');
}
#end_turn .action_img {
  height: 20px;
  width: 205px;
  background: top left no-repeat url('../images/end_turn.png');
}
#end_turn:hover .action_img {
  background: top left no-repeat url('../images/end_turn-hover.png');
}
#end_turn.disabled .action_img {
  background: top left no-repeat url('../images/end_turn-disabled.png');
}
#kill .action_img {
  height: 20px;
  width: 87px;
  background: top left no-repeat url('../images/kill.png');
}
#kill:hover .action_img {
  background: top left no-repeat url('../images/kill-hover.png');
}
#kill.disabled .action_img {
  background: top left no-repeat url('../images/kill-disabled.png');
}
#interrogate .action_img {
  height: 18px;
  width: 244px;
  background: top left no-repeat url('../images/interrogate.png');
}
#interrogate:hover .action_img {
  background: top left no-repeat url('../images/interrogate-hover.png');
}
#interrogate.disabled .action_img {
  background: top left no-repeat url('../images/interrogate-disabled.png');
}

#actions #interrogate {
  position: absolute;
  top: 233px;
  left: 68px;
  width: 256px;
  height: 69px;
}

#actions #end_turn {
  position: absolute;
  top: 330px;
  left: 67px;
  width: 256px;
  height: 70px;
}
