.selectable {
  cursor: hand;
  cursor: pointer;
  -webkit-animation: selectable 1700ms ease-in-out infinite;
}
.selectable:hover {
  outline: 1px solid white;
  box-shadow: none;
}
@-webkit-keyframes selectable {
  0%, 100% {
    box-shadow: 0px 0px 12px 4px rgb(0, 225, 225);
  }

  50% {
    box-shadow: 0px 0px 1px 1px rgb(0, 100, 100);
  }
}

* {
  font-family: Arial;
}

a {
  color: #5555CC
}

div  {
  padding: 0px;
  margin: 0px;
}

body {
  background: #111;
  color: white;
}

#waiting {
  float: left;
  width: 600px;
  height: 600px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #EEE;
}

#table_area {
  position: relative;
  min-width: 1028px;
  width: 1028px;
  min-height: 900px;
  height: 900px;
  background: top left no-repeat url("../images/background.jpg");
  background-size: 100%;
}

#dashboard {
  position: absolute;
  z-index: 10002;
  left: 160px;
  top: 736px;
  width: 416px;
  height: 44px;
  border-radius: 15px;
}
.dashboard_section {
  width: 415px;
  height: 44px;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
img.vertical-aligner {
  vertical-align: middle;
  height: 100%;
  width: 1px;
}

#side_area {
  position: relative;
  left: 695px;
  top: 0px;
  height: 800px;
  width: 585px;
}

.side_selector {
  display: none;
  position: relative;
  height: 545px;
  top: 40px;
}

#chat {
  position: absolute;
  top: 589px;
  left: 69px;
  width: 495px;
  height: 167px;
}
#chat_messages {
  height: 137px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3px 2px;
  border-bottom: 1px solid white;
  font-size: 14px;
  font-weight: initial;
  color: white;
}
#chat_input {
  color: white;
  background: rgba(0, 0, 0, 0);
  height: 25px;
  width: 238px;
  border-style: none;
  outline: none;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}

#opponent_status {
  background-color: #005;
}

#settings_overlay {
  position: absolute;
  right: 1px;
  top: 5px;
  width: 27px;
  border: 2px solid #333333;
	background-color: rgb(51, 51, 51);
	background-color: rgba(151, 151, 151, 0.5);
  border-radius: 10px;
}

.setting_button {
  padding: 1px;
  position: relative;
  height: 25px;
  width: 25px;
  background-size: 25px 25px;
  z-index: 10000;
}

.setting_button:hover {
  padding: 0px;
  border: 1px solid #00FFFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

.volume_control_on {
  background: center center no-repeat url('../images/sound_on.svg');
  background-size: 25px 25px;
}
.volume_control_off {
  background: center center no-repeat url('../images/sound_off.svg');
  background-size: 25px 25px;
}

.close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 2px 3px;
  /* border: solid #d3d3d3; */
  border: solid #EEE;
  border-radius: 4px;
  width: 20px;
  height: 19px;
  background: #EEE top left no-repeat url('../images/close.svg');
  background-size: 100%;
}

.hr {
  border-bottom: 3px solid #FFF;
  width: 100%;
  margin: 3px 0px;
}

#settings {
  background: center center no-repeat url('../images/settings.gif');
  background-size: 25px 25px;
}

.dialog_content_wrapper {
  position: relative;
  width: 100%;
}
.dialog_content {
  position: relative;
}
#forfeit_content {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  width: 100%;
}
.dialog .title {
  margin-left: 40px;
  font-size: 34px;
  font-family: Impact, Arial;
  text-shadow: 3px 3px 8px #000, -3px -3px 8px #000;
}
.dialog {
  position: absolute;
  visibility: hidden;
  z-index: 20000;
  left: 292px; /* playing_area/2 - width/2 - padding-left/2 */
  top: 56px; /* board height/2 - height/2 - padding-top/2*/
  /*
   * image: 573x476
   * content area: 297x343
   * area for side padding: 230px;
   * area for top/bottom padding: 253;
   */
  padding-top: 78px;
  padding-bottom: 73px;
  padding-left: 115px;
  padding-right: 145px;
  width: 313;
  min-width: 313;
  height: 325;
  box-shadow: 3px 3px 9px #000, -3px -3px 9px #000;
  background: top left no-repeat url('../images/settings_background.png');
  background-size: 100%;
}
.dialog:focus {
  outline: none;
}
.dialog *:focus {
  outline: none;
}

ul li.separator {
  min-height:30px;
  cursor: auto !important;
}
.dialog p {
  margin-left: 10px;
}
.dialog ul {
  list-style-type: none;
}
.dialog li,.close_button {
  cursor: hand;
  cursor: pointer;
}
.dialog li,a {
  color: #FFF;
  font-size: 22px;
  text-shadow: 3px 3px 8px #000, -3px -3px 8px #000;
}
.dialog .disabled {
  cursor: auto !important;
  color: #777777;
}
.dialog a {
  text-decoration: none;
}

#message {
  width: 200px;
  left: 290px;
  padding: 4px 6px;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}

#selection_layer {
  position: absolute;
  z-index: 1000;
}

#space0-0-display {
  position: absolute;
  left: 50px;
  top: 200px;
  outline: 3px solid white;
  width: 50px;
  height: 50px;
}

.board {
  z-index: 100;
}
#selection_wrapper {
  position: absolute !important;
  left: 212px;
  top: 20px;
  width: 596px;
  height: 596px;
}
.board-position {
  position: absolute !important;
  left: 212px;
  top: 20px;
  width: 596px;
  height: 596px;
  padding: 4px;
}

#marker0-0 {
  left: 248px;
  top: 21px;
}
#marker0-1 {
  left: 396px;
  top: 32px;
}
#marker0-2 {
  left: 518px;
  top: 115px;
}
#marker0-3 {
  left: 583px;
  top: 248px;
}
#marker0-4 {
  left: 572px;
  top: 396px;
}
#marker0-5 {
  left: 489px;
  top: 518px;
}
#marker0-6 {
  left: 356px;
  top: 583px;
}
#marker0-7 {
  left: 208px;
  top: 572px;
}
#marker0-8 {
  left: 86px;
  top: 489px;
}
#marker0-9 {
  left: 21px;
  top: 356px;
}
#marker0-10 {
  left: 32px;
  top: 208px;
}
#marker0-11 {
  left: 115px;
  top: 86px;
}
#marker1-0 {
  left: 320px;
  top: 81px;
}
#marker1-1 {
  left: 428px;
  top: 120px;
}
#marker1-2 {
  left: 502px;
  top: 207px;
}
#marker1-3 {
  left: 523px;
  top: 320px;
}
#marker1-4 {
  left: 484px;
  top: 428px;
}
#marker1-5 {
  left: 397px;
  top: 502px;
}
#marker1-6 {
  left: 284px;
  top: 523px;
}
#marker1-7 {
  left: 176px;
  top: 484px;
}
#marker1-8 {
  left: 102px;
  top: 397px;
}
#marker1-9 {
  left: 81px;
  top: 284px;
}
#marker1-10 {
  left: 120px;
  top: 176px;
}
#marker1-11 {
  left: 207px;
  top: 102px;
}
#marker2-0 {
  left: 362px;
  top: 156px;
}
#marker2-1 {
  left: 427px;
  top: 206px;
}
#marker2-2 {
  left: 458px;
  top: 281px;
}
#marker2-3 {
  left: 448px;
  top: 362px;
}
#marker2-4 {
  left: 398px;
  top: 427px;
}
#marker2-5 {
  left: 323px;
  top: 458px;
}
#marker2-6 {
  left: 242px;
  top: 448px;
}
#marker2-7 {
  left: 177px;
  top: 398px;
}
#marker2-8 {
  left: 146px;
  top: 323px;
}
#marker2-9 {
  left: 156px;
  top: 242px;
}
#marker2-10 {
  left: 206px;
  top: 177px;
}
#marker2-11 {
  left: 281px;
  top: 146px;
}
#marker3-0 {
  left: 358px;
  top: 229px;
}
#marker3-1 {
  left: 387px;
  top: 267px;
}
#marker3-2 {
  left: 393px;
  top: 314px;
}
#marker3-3 {
  left: 375px;
  top: 358px;
}
#marker3-4 {
  left: 337px;
  top: 387px;
}
#marker3-5 {
  left: 290px;
  top: 393px;
}
#marker3-6 {
  left: 246px;
  top: 375px;
}
#marker3-7 {
  left: 217px;
  top: 337px;
}
#marker3-8 {
  left: 211px;
  top: 290px;
}
#marker3-9 {
  left: 229px;
  top: 246px;
}
#marker3-10 {
  left: 267px;
  top: 217px;
}
#marker3-11 {
  left: 314px;
  top: 211px;
}
#marker4-0 {
  position: absolute;
  left: 274px;
  top: 274px;
  width: 52px;
  height: 52px;
  font-size: 10px;
}

.marker0 {
  position: absolute;
  width: 106px;
  height: 42px;
}
.marker1 {
  position: absolute;
  width: 74px;
  height: 40px;
}
.marker2 {
  position: absolute;
  width: 40px;
  height: 50px;
}
.marker3 {
  position: absolute;
  width: 22px;
  height: 30px;
}

.board .content {
  text-align: center;
}

.rotate1 {
  -webkit-transform: rotate(0.5235987755982988rad);
  -webkit-transform-origin: top left;
}
.rotate2 {
  -webkit-transform: rotate(1.0471975511965976rad);
  -webkit-transform-origin: top left;
}
.rotate3 {
  -webkit-transform: rotate(1.5707963267948966rad);
  -webkit-transform-origin: top left;
}
.rotate4 {
  -webkit-transform: rotate(2.0943951023931953rad);
  -webkit-transform-origin: top left;
}
.rotate5 {
  -webkit-transform: rotate(2.617993877991494rad);
  -webkit-transform-origin: top left;
}
.rotate6 {
  -webkit-transform: rotate(3.141592653589793rad);
  -webkit-transform-origin: top left;
}
.rotate7 {
  -webkit-transform: rotate(3.665191429188092rad);
  -webkit-transform-origin: top left;
}
.rotate8 {
  -webkit-transform: rotate(4.1887902047863905rad);
  -webkit-transform-origin: top left;
}
.rotate9 {
  -webkit-transform: rotate(4.71238898038469rad);
  -webkit-transform-origin: top left;
}
.rotate10 {
  -webkit-transform: rotate(5.235987755982988rad);
  -webkit-transform-origin: top left;
}
.rotate11 {
  -webkit-transform: rotate(5.759586531581287rad);
  -webkit-transform-origin: top left;
}
.rotate0-5 {
  -webkit-transform: rotate(0.2617993877991494rad);
  -webkit-transform-origin: top left;
}
.rotate1-5 {
  -webkit-transform: rotate(0.7853981633974483rad);
  -webkit-transform-origin: top left;
}
.rotate2-5 {
  -webkit-transform: rotate(1.308996938995747rad);
  -webkit-transform-origin: top left;
}
.rotate3-5 {
  -webkit-transform: rotate(1.832595714594046rad);
  -webkit-transform-origin: top left;
}
.rotate4-5 {
  -webkit-transform: rotate(2.356194490192345rad);
  -webkit-transform-origin: top left;
}
.rotate5-5 {
  -webkit-transform: rotate(2.8797932657906435rad);
  -webkit-transform-origin: top left;
}
.rotate6-5 {
  -webkit-transform: rotate(3.4033920413889427rad);
  -webkit-transform-origin: top left;
}
.rotate7-5 {
  -webkit-transform: rotate(3.9269908169872414rad);
  -webkit-transform-origin: top left;
}
.rotate8-5 {
  -webkit-transform: rotate(4.45058959258554rad);
  -webkit-transform-origin: top left;
}
.rotate9-5 {
  -webkit-transform: rotate(4.974188368183839rad);
  -webkit-transform-origin: top left;
}
.rotate10-5 {
  -webkit-transform: rotate(5.497787143782137rad);
  -webkit-transform-origin: top left;
}
.rotate11-5 {
  -webkit-transform: rotate(6.021385919380436rad);
  -webkit-transform-origin: top left;
}

.board_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.space {
  position: absolute;
  width: 40px;
  height: 40px;
}
.space .pieces {
  font-size: 12px;
}
.space.selected {
  outline: 3px solid #0AA;
}
.space.short_move {
  outline: 3px solid #0F0;
}
.space.long_move {
  outline: 3px solid #F00;
}
.space.circle0 {
  background-color: #F00;
}
.space.circle1 {
  background-color: #090;
}
.space.circle2 {
  background-color: #00F;
}
.space.circle3 {
  background-color: #099;
}
.space.circle4 {
  background-color: #F0F;
}
.circle0.rank0,
.circle0.rank1,
.circle0.rank2,
.circle0.rank3 {
  top: 0%;
}
.circle0.rank6,
.circle0.rank7,
.circle0.rank8,
.circle0.rank9 {
  bottom: 0%;
}
.circle0.rank0,
.circle0.rank9,
.circle0.rank10,
.circle0.rank11 {
  left: 0%;
}
.circle0.rank1,
.circle0.rank8 {
  left: 33%;
}
.circle0.rank2,
.circle0.rank7 {
  left: 66%;
}
.circle0.rank3,
.circle0.rank4,
.circle0.rank5,
.circle0.rank6 {
  left: 100%;
}
.circle0.rank4,
.circle0.rank11 {
  top: 33%;
}
.circle0.rank5,
.circle0.rank10 {
  top: 66%;
}

.circle1.rank0,
.circle1.rank1,
.circle1.rank2 {
  top: 10%;
}
.circle1.rank6,
.circle1.rank7,
.circle1.rank8 {
  bottom: 10%;
}
.circle1.rank11,
.circle1.rank3 {
  top: 27%;
}
.circle1.rank4,
.circle1.rank10 {
  top: 50%;
}
.circle1.rank5,
.circle1.rank9 {
  top: 73%;
}
.circle1.rank9,
.circle1.rank10,
.circle1.rank11 {
  left: 10%;
}
.circle1.rank0,
.circle1.rank8 {
  left: 27%;
}
.circle1.rank1,
.circle1.rank7 {
  left: 50%;
}
.circle1.rank2,
.circle1.rank6 {
  left: 73%;
}
.circle1.rank3,
.circle1.rank4,
.circle1.rank5 {
  left: 90%;
}

.circle2.rank11,
.circle2.rank0,
.circle2.rank1,
.circle2.rank2 {
  top: 20%;
}
.circle2.rank5,
.circle2.rank6,
.circle2.rank7,
.circle2.rank8 {
  bottom: 20%;
}
.circle2.rank11,
.circle2.rank8,
.circle2.rank9,
.circle2.rank10 {
  left: 20%;
}
.circle2.rank0,
.circle2.rank7 {
  left: 40%;
}
.circle2.rank1,
.circle2.rank6 {
  left: 60%;
}
.circle2.rank2,
.circle2.rank3,
.circle2.rank4,
.circle2.rank5 {
  left: 80%;
}
.circle2.rank3,
.circle2.rank10 {
  top: 43%;
}
.circle2.rank4,
.circle2.rank9 {
  top: 56%;
}

.circle3.rank11,
.circle3.rank0,
.circle3.rank1 {
  top: 30%;
}
.circle3.rank5,
.circle3.rank6,
.circle3.rank7 {
  bottom: 28%;
}
.circle3.rank2,
.circle3.rank10 {
  top: 37%;
}
.circle3.rank3,
.circle3.rank9 {
  top: 50%;
}
.circle3.rank4,
.circle3.rank8 {
  top: 61%;
}
.circle3.rank8,
.circle3.rank9,
.circle3.rank10 {
  left: 30%;
}
.circle3.rank11,
.circle3.rank7 {
  left: 37%;
}
.circle3.rank0,
.circle3.rank6 {
  left: 50%;
}
.circle3.rank1,
.circle3.rank5 {
  left: 63%;
}
.circle3.rank2,
.circle3.rank3,
.circle3.rank4 {
  left: 70%;
}

.circle4.rank0 {
  top: 50%;
  left: 50%;
}

.selected {
  -webkit-animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
     -moz-animation: myanim 1s ease-in-out infinite; /* FF5+ */
       -o-animation: myanim 1s ease-in-out infinite; /* Opera 12+ */
          animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
}

@-webkit-keyframes myanim {
  0%, 100% { -webkit-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -webkit-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-moz-keyframes myanim {
  0%, 100% { -moz-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -moz-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-o-keyframes myanim {
  0%, 100% { -o-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -o-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@keyframes myanim {
  0%, 100% { transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}

#history {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 100%;
}
.history_entry {
}

#actions {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 100%;
}
.action {
  display: none;
  float: left;
  margin-right: 10px;
  border: 1px dashed white;
  border-radius: 10px;
  padding: 5px;
}
.action:hover {
  outline: 1px solid red;
}
.action.disabled {
  border: 1px solid grey;
  color: grey;
}
.action.disabled:hover {
  outline: none !important;
}
